

body {
  
    
}

.headerContainer {
    background-color:white;
    padding: 20px;

}


h1{
    color: white;
}
h6 {
    line-height: 1;
    margin: 0;
}

/* We will use these 3 following classes to display flight status. Can be changed in javascript  */
.ontime {
    border-radius: 0px 5px 5px 0px;
    background: rgb(0, 137, 5);
    font-size: 16px;
    font-weight: bolder;
    color: white;
}

.delayed {
    border-radius: 0px 5px 5px 0px;
    background: #fff;
    font-size: 16px;
    font-weight: bolder;
    color: white;
}

.canceled {
    border-radius: 0px 5px 5px 0px;
    background: #fff;
    font-size: 16px;
    font-weight: bolder;
    color: white;
}

/* The span classes will have data populated via api */
span {
    color: gray;
}

#flightStatusContainer {
    padding: 0px;
    background-color: white;
}

.flightCardCustom {
    margin: 2px;
    

}

.flightInfoCustom {
    background-color: #fff;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.flightText {
    margin: 0px;
    padding: 0px;
    line-height: 1.25;
    font-size: 12px;
    font-weight: bold;
}

.flightsHeader {
    font-size: 20px;
    color: black;
    margin: 5px;
}


.card-body {
    background-color: #fff;
border-left: 0px !important;
}

.ontime {
    background-color: #fff;

}

.ontime>h6 {
    color: rgb(0, 137, 5);

}

.delayed>h6 {
    color: blue;
}

.canceled>h6 {

    color: red;
}
