body {}

.headerContainer {
    background-color: white;
    padding: 20px;

}

h6 {
    line-height: 1;
    margin: 0;
}
.button:hover {
    background-color: forestgreen;
    color: #fff;
    text-decoration: underline;
    
    

    
}


/* The span classes will have data populated via api */
span {
    color: gray;
}

#flightStatusContainer {
    padding: 0px;
    background-color: white;
}

.flightCardCustom {
    margin: 2px;
    

}

.flightInfoCustom {
    background-color: #fff;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.flightText {
    margin: 0px;
    padding: 0px;
    line-height: 1.25;
    font-size: 12px;
    font-weight: bold;
}

.flightsHeader {
    font-size: 20px;
    color: black;
    margin: 5px;
}


.card-body {
    background-color: #fff;
border-left: 0px !important;
}

/* We will use these 2 following classes to display flight status. Can be changed in javascript  */
.ontimeText {
    font-size: 16px;
    font-weight: bolder;
    color: #fff;
}

.delayedText {
    font-size: 16px;
    font-weight: bolder;
    color: white;
}
.ontimeCont {
background-color: green ;
}

.delayedCont {
background-color: red;
}
